
img{
    height: 100px;
    width: 100px;
}    
.image{
    height: 700px;
width: 1350px;
position: relative;
}

.profill{
   margin-top: -600px;
   margin-left: 180px;
   margin-right: 180px;
   position:absolute;
   color: white;
}
.profileimage{
    width: 300px;
    height: 200px;
}
button{
  margin-left: 550px;  
  margin-top: 10px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
button:hover{
    background-color: black;
    color: white;
}